@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../bower_components/bootstrap/fonts/";
// Here we can re-define the variables that Bootstrap uses to customize stuff
// See http://stackoverflow.com/a/19514889/1877527
// See here for the variable names and declarations:
// http://getbootstrap.com/customize/#less-variables

@font-size-base: 16px; // Up the font size from the Bootstrap default

@import "lightbox.less";



// Main content
@font-family-sans-serif: Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Roboto Slab", Droid, Cambria, Georgia, "Times New Roman", Times, serif;
@font-family-monospace: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

body {
    padding:1rem;
}

// Default Colors

@material-blue: #5677fc;
@material-green: #4CAF50;
@material-indigo: #3f51b5;
@material-cyan: #00bcd4;
@material-teal: #009688;
@material-blue-grey: #607d8b;
@material-red: #F44336;

@bs-info: #5bc0de;
@bs-danger: #d9534f;
@bs-warning: #f0ad4e;

@success: @btn-success-bg;

// Application Colors

@import "theme-colors.less";


/* Combinators */

@import "bootstrap-combinator.less";

@import "glyphicons.less";


/*
 * LESS is failing at these for now:
 * https://github.com/less/less.js/issues/2623
 *
 * So until it's fixed, these need escaping.
 * http://lesscss.org/features/#features-overview-feature-escaping
 */

@{hc} .materialblue {
    .materialblue;
}

#loader.good @{combinator} .circle {
    border-color: @material-green;
}
#loader.bad @{combinator} .circle {
    border-color: @material-red;
}

@{hc} .code {
    .code;
}

@{hc} .help-block {
  .help-block;
}

@{hc} paper-autogrow-textarea textarea {
    width:90%;
}

@{hc} [affirmative] {
    color:@material-blue!important;

}

@{hc} paper-dialog-scrollable {
    padding: 1rem !important;
}

@{hc} .tooltip-container {
    .tooltip-container;
}

/***
 * Primary Styles
 ***/

.relative-left {
    position: relative;
    left: 40px;
}

.materialblue {
    background: @material-blue;
    color:#fff;
}

paper-fab.materialblue.paper-fab-0 {
    .materialblue;
}

.round {
    border-radius: 50%;
}

.materialgreen, .materialblue:hover, paper-fab.materialblue.paper-fab-0:hover {
    background: @material-green;
    color: #fff;
}
.materialgreentext, .material-green {
    color: @material-green;
}

.materialindigo {
    background: @material-indigo;
    color:#fff;
}
.materialred {
    background: @material-red;
    color:#fff!important;
}
.materialredtext, .material-red {
    color: @material-red;
}

.extreme-danger {
    box-shadow: 0 0 2em 0.25em #f00;
    background:#f00;
    color: #fff;
}

.fadebg {
    transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
}

.materialcyan {
    background: @material-cyan;
    color:#fff;
}

.materialteal {
    background: @material-blue;
    color:#fff;
}

.materialbluegrey {
    background: @material-blue-grey;
    color:#fff;
}

.materialbluetext, paper-button[affirmative] {
    color:@material-blue!important;

}


.materialindigotext {
    color: @material-indigo;

}

.materialcyantext {
    color: @material-cyan;

}

.materialtealtext {
    color: @material-teal;

}

.materialbluegreytext {
    color: @material-blue-grey;

}

paper-dialog-scrollable {
    padding: 1rem !important;
    min-height: 15rem;
}


.tooltip-container {
    float:left;
    display:inline-block;
}

.italic {
    font-style:italic;
}
.click {
    cursor:pointer;
}
.med-octicon {
    font-size:24px !important;
}

.capitalize,
@{hc} .capitalize {
    text-transform:capitalize;
}


#outdated-warning, .hanging-alert {
    position:fixed;
    top:0;
    width:50%;
    margin:0;
    left:25%;
    z-index:5999;
}

#outdated-warning {
    box-shadow: 5px 5px 15px rgba(0,0,0,.25)
}

@media (max-width: @screen-xs-max) {
    #outdated-warning, .hanging-alert {
        width: 80% !important;
        left: 10% !important;
    }
}


.success-glow {
    background: @success;
    //box-shadow: 0 0 2em .25em @success;
    animation-name: successPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@success-glowdown: @success - #281122;

@keyframes successPulse {
  from {
      background-color: @success;
      box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: @success-glowdown;
      box-shadow: 0 0 18px @success-glowdown;
  }
  to {
      background-color: @success;
      box-shadow: 0 0 9px #333;
  }
}

.danger-glow {
    background-color: @material-red;
    //box-shadow: 0 0 2em .25em @success;
    animation-name: dangerPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@danger-glowdown: @material-red - #281122;

@keyframes dangerPulse {
  from {
      background-color: @material-red;
      box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: @danger-glowdown;
      box-shadow: 0 0 18px @danger-glowdown;
  }
  to {
      background-color: @material-red;
      box-shadow: 0 0 9px #333;
  }
}


.genus, .species, .sciname {
    // Defaults
    .italic;
}
.genus {
    text-transform: capitalize !important;
}

.species, .sciname {
    text-transform: lowercase;
}

.sciname:first-letter {
    text-transform: uppercase;
}


////////////////
// Home Page
////////////////
.fixed-bar {
    position: fixed; //sticky;
    margin-top: 0px !important; // You can remove this when sticky is working again
    top: 0px;
    width: 100%;
    z-index:999;
    // Alt color: rgba(86,119,252,.95)
}

header#header-bar {
    .materialblue;
    .fixed-bar;
    padding: .5rem;
    margin-top: -10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    paper-button {
        // Shrink this to work inline with paper-icon-buttons
        font-size: 60%;
    }
    .header-bar-user-name:hover {

    }
    .header-bar-user-name {
        // Styles for the user name identifier
        cursor: pointer;
    }
}
#header-bar > p {
    margin-bottom: 0;
}


header#header-bar + main {
    margin-top: 5rem;
}

.main-title {
    font-weight: 100;
    font-size: 47px;
}


.subtitle {
    font-weight: 300;
    text-indent: 2em;
}

.login-button {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.title-image {
    display: inline-block;
    max-height: 2rem;
}

#amphibian-images-carousel {
    .center-block;
}

#amphibian-images-carousel, #amphibian-images-carousel img {
    max-width: 40vw;
    max-height: 60vh;
}

.center-on-large {
    .text-center;
    .center-block;
}

@media(min-width: @screen-md-min) {
    .center-on-large {
        width: 200% / 3;
    }
}

.card-tile {
    vertical-align: top;
    margin-top: 1rem;

}

@media(max-width: @screen-sm-min) {
    .card-tile {
        .center-block;
    }
    #amphibian-images-carousel, #amphibian-images-carousel img {
    max-width: 90vw;
    max-height: 60vh;
    }
    .subtitle {
        font-size: 3rem;
    }
}

// paper-card.card-tile .header .title-text.paper-card {
//     color: @material-indigo !important;
//     text-shadow: 1px 1px 3px rgba(0,0,0,.45);
// }

paper-card.card-tile .header iron-image img {
    filter: grayscale(50%) opacity(.25);

}

/* Loader */

#loader {
    position:fixed;
    top:50%;
    left:50%;
}

paper-dropdown.dropdown {
/* Override Bootstrap */
    position:absolute;
}

paper-toggle-button {
    margin-left:1rem;
}

paper-toggle-button.red {
    --paper-toggle-button-checked-bar-color:  var(--paper-red-500);
    --paper-toggle-button-checked-button-color:  var(--paper-red-500);
    --paper-toggle-button-checked-ink-color: var(--paper-red-500);
}

.toggle-off-label {
    display: inline-block !important;
}

.toggle-off-label + paper-toggle-button {
    display: inline-block;
}

.toggle-off-label + paper-toggle-button > .toggle-container {
    margin-bottom: -2px;
}

paper-icon-button {
    vertical-align:middle;
}

paper-icon-button.shift-down {
    margin-top: .75em;
}

.fullwidth {
    width:100%;
}

#collapse-advanced {
    margin-top:1rem;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  width:80%;
}

.bs-callout-info {
  border-left-color: @bs-info;
}

.bs-callout-info h4 {
  color: @bs-info;
}
.bs-callout-danger {
  border-left-color: @bs-danger;
}
.bs-callout-danger h4 {
  color: @bs-danger;
}
.bs-callout-warning {
  border-left-color: @bs-warning;
}
.bs-callout-warning h4 {
  color: @bs-warning;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

copyright-statement {
    position: relative;
    top: 1rem;
}

.code {
    padding: 2px 4px;
    font-size: 90%;
    color: @code-color;
    background-color: @code-bg;
    border-radius: @border-radius-base;
    font-family: @font-family-monospace;
}

main .btn, main paper-button.paper-button-0 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-block {
  // display: block;
  // margin-top: 1.25rem;
  // margin-bottom: 10px;
  // .text-muted;
    ol, ul {
        display: inline-block;
        li {
            display: inline-block;
        }
    }
    ul {
        list-style-type: none;
    }
}


paper-toast, paper-spinner {
    z-index:1000;
}

#password_security + #login {
    float:left;
    min-width:60%;
}

#login .form-inline .form-group {
    margin-bottom:15px;
}

.form-inline .has-feedback div {
    margin-left:0;
}

#outdated-warning {
    position:fixed;
    top:0;
    width:50%;
    margin:0;
    left:25%;
}

iron-label {
    margin-top: .5rem;
    display: block;
}

paper-radio-button #radioContainer, paper-radio-button #radioContainer div {
    /* Overrides Bootstrap */
    box-sizing: content-box !important;
}

.force-block {
    display: block;
}
.clear {
    clear: both;
}

.force-center {
    .center-block;
    .clearfix;
    .text-center;
    float: none !important;
    clear:both;
}

.force-center-block {
    .center-block;
    .clearfix;
    float: none !important;
    clear:both;
}


//////////////////
// Admin
////////////////

paper-button[raised].admin-action {
    .materialgreen;
}

#debug-reporter {
    .materialred;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

#su-management-list {
    list-style-type: none;
    li.su-user-list:hover {
        background: #ccc;
    }
    .su-user-list {
        .clearfix;
        border-radius: 5px;
        transition: background .2s ease-out;
        vertical-align: middle;
        padding: .5rem;
        display: flex;
        align-items: center;
        div {
            align-self: flex-end;
            margin-left: 1rem;
        }
        span {
            flex-grow: 1;
        }
    }
}


ul.project-search-su {
    list-style-type: none;
    .project-search-result {
        .search-proj-link {

        }
    }
}

#restriction-badge{
    cursor: pointer;
}

#restriction-summary {
    paper-dialog-scrollable {
        .restriction-criteria {
            list-style-type: none;
        }
        .allowed-tld-domains {
            .text-muted;
            text-indent: 3rem;
        }
    }
}

.thumb-img {
    max-width: 150px;
    max-height: 150px;
}

.project-field, .new-title  {
    .force-block;
    .clear;
}

iron-autogrow-textarea.project-field, .alert.project-field {
    margin-left: 1em;
    margin-bottom: 1em;
}

.project-field.alert-dismissable .close {
    right: -11px;
    top: -12px;
}

.project-inputs, .data-section {
}

.submission-section {
    margin-buttom: 3rem;
}

.adjacent-info {
    margin-top: 1.5em;
}


#project-list button {
    margin-top: .5rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
}

#project-list, .simple-list {
    list-style-type: none;
}

.simple-list {
    margin-left:0;
    padding-left: 0;
}


section#notes .markdown-pair {
    margin: 1rem;
}

section#notes marked-element{
    min-height: 5em;
    display:block;
}

#validator-progress-container paper-progress {
    width: 80%;
    // display: inline-block;
    margin-left: 1em;
}

.error-block {
    .center-block;
    margin-top: 2rem;
}

.error-block p {
    .text-center;
}

////////////
// Map Stuff
////////////

.map {
    height: 50vh;
    .center-block;
}

.wide-map {
    .map;
    width: 75vw;
}

@media(max-width:767px) {
    .map {
        width: 100%;
        height: 75vh;
    }
}

#carto-rendered-map .map .cartodb-share-dialog {
    display:none;
}

.fill-pathogen {
    margin: 1em .5rem 0;
    vertical-align: bottom;
}

// Uploader

.media-upload-target {
    width: 80%;
    min-height:5rem;
}

.project-inputs[hidden] + #submission-section .pull-right {
    margin-top: 5rem;
}



///////////////////////
// Project Viewer
//////////////////////

#user-setter-dialog, #add-new-user {

}

.user-search-result paper-badge {
    display: inline-block;
    position: relative;
    .badge.paper-badge {
        .materialgreen;
    }

}

.noclick {
    opacity: .8;
    cursor: not-allowed !important;
}

.search-result-detail {
    width: 32%;
    display:inline-block;
    //.text-center;
}

@media(min-width: @screen-md-min) {
    #user-setter-dialog, #add-new-user {
        min-width: 40vw;
    }
}

#add-new-user {
    min-height: 80vh;
}

#data-management.affix {
    right: 0;
}

// FA stuff
// From font-awesome.less
@import "fa/less/variables.less";
@import "fa/less/mixins.less";
@import "fa/less/path.less";
@import "fa/less/core.less";
@import "fa/less/larger.less";
@import "fa/less/fixed-width.less";
@import "fa/less/list.less";
@import "fa/less/bordered-pulled.less";
@import "fa/less/animated.less";
@import "fa/less/rotated-flipped.less";
@import "fa/less/stacked.less";
@import "fa/less/icons.less";
//@import "screen-reader.less";
// for referencing Bootstrap CDN font files directly
//@fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.6.1/fonts";
@fa-font-path: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts";


.fontawesome-inherit {
    display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.fa-before {
    .fontawesome-inherit;
    margin-right: 1rem;
}

@collapse-animation: all 0.5s ease-out;
.card-collapsable-widget {
    transition: @collapse-animation;
    max-height: 750px;
    > div {
        max-height: 750px;
    }
    .header {
        cursor: pointer;
        :before {
            .fa-before;
            content: @fa-var-compress;
        }
    }
}
paper-card.card-collapsable-widget.collapse {
    display: block;
}

.card-collapsable-widget.collapse > div:not(.header),
.card-collapsable-widget.collapsed > div:not(.header),
.collapsed-card-div {
    //.card-collapsable-widget;
    //height: 0;
    transition: @collapse-animation;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    //opacity: 0;
}

.card-collapsable-widget.collapse > .header,
.card-collapsable-widget.collapsed > .header,
.collapsed-card-header {
    :before {
        .fa-before;
        content: @fa-var-expand !important;
    }
}

.pull-right {
    paper-card {
        width: 100%;
        margin-bottom: 2rem;
        .card-collapsable-widget;
    }
    paper-card div {
        transition: @collapse-animation;
    }
    paper-card.collapse, paper-card.collapsed {
        > div:not(.header) {
            .collapsed-card-div;
        }
        > .header {
            .collapsed-card-header;
        }
    }
    .paper-card-0 {
        .header.paper-card {
            .title-text.paper-card {
                .materialtealtext;
            }
        }
    }
}



.card-actions paper-button {
    .materialindigotext;
}

#add-user paper-dialog-scrollable {
    min-height: 50vh;
}

#search-user-form-container {
    position: relative;
}

#user-search-result-container {
    padding: .5rem;
    margin-top: -1rem;
}
.result-list {
    //overflow-y: scroll;
    max-height: 20vh;
    width: 100%;
}
.user-search-result {
    cursor: pointer;
    padding: .5rem;
    border-bottom: 1px solid #eee;
}

.user-search-result:last-of-type {
    border-bottom: none;
}

.user-search-result:hover {
    background: #eee;
}

google-map {
    height: 60vh;
}


#project-data, #auth-block {
    p.text-muted {
        .glyphicon {
            // Lines it up with iron-icons
            margin-left: 0.25em;
        }
    }
}


///////////////////////
// Project Viewer
//////////////////////

.species-list {
    list-style-type: none;
    margin: 1rem;
}
.aweb-link-species {
    display: inline-block;
    background: @material-teal;
    color: #fff;
    margin: .25rem;
    padding-left:1em;
    border-radius: 1em;
    transition: .2s ease-in;
}

.aweb-link-species:hover {
    background: @material-blue - #222222;
}

.aweb-link-species a:link,
.aweb-link-species a:hover,
.aweb-link-species a:visited,
.aweb-link-species a:active,
.aweb-link-species a {
    text-decoration: none;
    color: #fff;
}

h1 paper-icon-button,
h2 paper-icon-button,
h3 paper-icon-button,
h4 paper-icon-button {
    font-size: initial;
}


.row.no-margin-change {
    margin-left:0;
    margin-right:0;
}

google-map.public-fuzzy-map,  google-map.center-block {
    float: none;
    clear: both;
    .center-block;
    .clearfix;
}

@media(min-device-width: @screen-sm-min) {

    #auth-block google-map:not(.center-block) {
        margin-left: 15px;
    }

    #auth-block google-map + div {
        margin-left: -15px;
        padding-left: 30px;
    }
}

.download-data-file {
    margin-left: .5rem;
    margin-bottom: .5rem;
    vertical-align:middle;
}

.toggle-marker {
    @margin: 25/8%;
    margin: 0 @margin;
}

// .search-project {
//     width: 100%;
// }

// .search-project #project-search {
//     @media(min-width: @screen-md) {
//         width: 700/12%;
//     }
//     @media(min-width: @screen-md) {
//         width: 900/12%;
//     }
// }

#project-result-container {
    list-style-type: none;
}

.project-search-result {
    margin: .25rem;
}

.indent {
    margin-left: 15px;
}

.basics-list paper-input {
    .indent;
}

.ark-context-wrapper {
  position: absolute;
}

#upload-progress-dialog paper-dialog-scrollable {
    min-height: 60vh;
}

//////////////////////////////////////
// Home Page
//////////////////////////////////////

.card-container {
    padding: 1rem;
    paper-card {
        width: 100%;
    }
}


//////////////////////////////////////
// Profile Page
//////////////////////////////////////

section.conversations {

    > div {
        max-height: 33vh;
        overflow-y: scroll;
        margin: 1rem;
    }

    .conversation-list {
        .well;
        .well-lg;
        
        ul {
            .list-unstyled;
            li {
                padding: 1rem;
                margin: 1rem;
                background: lighten(desaturate(@material-blue-grey, 25% ), 25% );
                img {
                    .pull-left;
                    max-height: 3em;
                    margin: .5rem;
                }
            }
            li.unread {
                font-weight: bold;
                background: @material-blue-grey;
            }
        }
    }

    .user-conversation {
        .well;
        .well-lg;
        ol {
            .list-unstyled;
            li {
                padding: 1rem;
                margin: .5rem;
                display:inline;
                .clearfix;
                .clear;
                border-radius: 7px;
                .timestamp {
                    .text-muted;
                    display: block;
                }
            }
            .from-me {
                .text-right;
                .pull-right;
                background: lighten(desaturate(@material-teal, 66% ), 30% )
            }
            .to-me {
                .text-left;
                .pull-left;
                background: desaturate(@material-blue, 80% )
            }
        }
    }
}