.close-popup {
    position: absolute;
    top: -1em;
    right: -10px;
    cursor: pointer;
    padding: .25em;
    width: 2em;
    height: 2em;
    text-align: center;
    background: rgba(255, 255, 255, .9);
    border-radius: 50px;
    border: 2px solid white;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.close-popup:hover, .danger {
    background: rgba(215, 0, 20, .75);
    color:white;
}
#secret_id_panel {
    min-height: 2em;
    z-index: 10000;
}
#cover_wrapper {
    width:100%;
    height:100%;
    z-index: 1000;
    background:rgba(215,215,215,.8);
    position:fixed;
    top:0;
    left:0;
}
#help_content,.cover_content {
    width:50%;
    left:25%;
    top:4rem;
    max-height:93%;
    padding:1em;
    position:relative;
    background:#fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);
    font-size:85%;
}
.app > img {
    text-align:center;
    max-width:5em;
}
.app a img {
    max-height:40px;
}
.app {
    max-width:40%;
    display:inline-block;
    vertical-align:top;
}
#app_container {
    width:50em;
    margin: .5em auto;
    text-align:center;
}
.app_link_container {
    text-align:center;
}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}